= simple_form_for @pool do |f|
  = f.input :name
  = f.input :picks
  = f.simple_fields_for :rule do |p|
    = p.input :function, :placeholder => "for example ':days_alive * 100'"
  = f.button :submit, :class => "big-button"
  = link_to "Cancel", @pool, :class => "big-button"