%h2 Dashboard
.span-16
  %h3 Pools
  .pools
    %ul
    - @pools.each do |pool|
      %li
        = pool.name
        = "(#{pool.points(current_user)})"
        = link_to 'Details', pool
        = link_to 'Entries', pool_entries_url(pool)
.span-8.last
  %h3 Updates