.ghoul
  = simple_form_for [@pool, @entry] do |f|
    = f.simple_fields_for :ghoul do |g|
      = g.hidden_field :freebase_id, :value => ghoul.freebase_id
    = f.button :submit, "Add", :class => "small-form-button"
    = link_to freebase_metadata(ghoul), freebase_url(ghoul.freebase_id), :target => "_blank", :class => "name"