.span-18.last
  %h2= "#{@pool.name} Entries"
  %hr
  .span-9
    %h3= "Ghouls (#{@entries.count} of #{@pool.picks})"
    .entries
      = render :partial => "entry", :collection => @entries
  .span9-last
    - if @entries.count < @pool.picks
      Hey you have empty slots! Get on that and 
      = link_to 'add more ghouls', new_pool_entry_path(@pool), :class => "small-button"