.span-18.last
  %h2= "#{@pool.name} Entries"
  %hr
  .span-9
    %h3 Ghouls
    .entries
      = render :partial => "entry", :collection => @entries
    = paginate @entries
  .span9-last
    %h3 Actions
    %ul
      %li
        = link_to "View Pool", @pool, :class => "small-button"
        - if @entries.count < @pool.picks
        = link_to 'Add Ghouls', new_pool_entry_path(@pool), :class => "small-button"