!!!
%html
  %head
    %title= yield(:title) || "Ghoulpool"
    = stylesheet_link_tag "screen", "base", :media => "screen, projection"
    = stylesheet_link_tag "print", :media => "print"
    /[if IE]
      = stylesheet_link_tag "ie", :media => "screen, projection"
    = javascript_include_tag "jquery.min.js", "rails.js", "application.js"
    = csrf_meta_tag
  %body
    #header= render :partial => "shared/header"
    #content= render :partial => "shared/content"
    #footer= render :partial => "shared/footer"
