!!!
%html
  %head
    %title= yield(:title) || "Ghoulpool"
    = stylesheet_link_tag "screen", "base", "http://fonts.googleapis.com/css?family=Special+Elite:regular&v1", :media => "screen, projection"
    = stylesheet_link_tag "print", :media => "print"
    = stylesheet_link_tag "screen", "base", :media => "screen, projection"
    /[if IE]
      = stylesheet_link_tag "ie", :media => "screen, projection"
    = javascript_include_tag "jquery.min.js", "rails.js", "application.js", "http://use.typekit.com/bvq0qsz.js"
    = csrf_meta_tag
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    #header= render :partial => "shared/header"
    #content= render :partial => "shared/content"
    #footer= render :partial => "shared/footer"
